<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddToCart"></activity>
        <activity android:name=".on_board" />
        <activity android:name=".veg_category" />
        <activity android:name=".fruit_category" />
        <activity android:name=".edit_product" />
        <activity android:name=".products" />
        <activity android:name=".UserProfile" />
        <activity android:name=".new_product" />
        <activity android:name=".dashboard" />
        <activity android:name=".edit_orders" />
        <activity android:name=".orders" />
        <activity android:name=".Grocery" />
        <activity android:name=".ManagerEmployee" />
        <activity android:name=".AddNewDeliveryBoy" />
        <activity android:name=".ManagerDashboard" />
        <activity android:name=".DeliveryProfile" />
        <activity android:name=".DeliveryReport" />
        <activity android:name=".OrderList" />
        <activity android:name=".Signup_From" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>